/*----------------Обнуляющий список---------------------*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-size: 1rem;
	line-height: 1;
}

:focus,
:active {
	outline: none;
}

img {
	vertical-align: top;
}

a:focus,
a:active {
	outline: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}


/*-------------------------------------*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 77.5rem;
	padding: 0 1.3rem;
}

[class*=__container] {
	max-width: 50rem;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
}

.slider__container {
	margin: 5% auto;
	background-color: #1F2328;
	border: 0.4rem solid #8c959f;
	border-radius: 0.2rem;
}

.slider {
	display: flex;
	width: 400%;
}

.slider__pic {
	width: 25%;
	position: relative;
	border: 1.3rem solid #1F2328;
	padding: 0 0 10% 0;
	transition: all ease-in-out 0.7s;
}

.slider__pic img {
	border-radius: 0.5rem;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 1.3rem;
	margin: -0.8rem 0rem 3rem 0rem;
	border: 1.3rem solid #1F2328;
}

.text-item {
	display: block;
	color: #fff;
	font-size: 1.3rem;
	position: relative;
	left: 0;
}

.slider-dot {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #54aeff;
	cursor: pointer;
	transition: background-color 1s ease 0s;
}

.slider-dot:not(:last-child) {
	margin: 0rem 0.6rem 0rem 0rem;
}

input {
	position: absolute;
	visibility: hidden;
}

.slider-dot:hover {
	background-color: #fff;
	transition: background-color 1s ease 0s;
	transform: scale(1.3);
}

.slider-dot:active {
	background-color: #fff;
	border: 0.2rem solid #54aeff;
	transform: scale(1.3);
}

.slider-dot:before {
	content: '';
	position: absolute;
	top: -0.4rem;
	left: -0.5rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	opacity: 0;
	background-color: red;
}

#d1:checked~.pic1 {
	margin-left: 0%;
}

#d2:checked~.pic1 {
	margin-left: -25%;
}

#d3:checked~.pic1 {
	margin-left: -50%;
}

#d4:checked~.pic1 {
	margin-left: -75%;
}


.text-item {
	position: absolute;
	display: block;
	bottom: -2.8rem;
	width: 100%;
	margin: 0.7rem 0 0 0;
}

@media (max-width: 768px) {
	.slider__text {
		flex: 0 1 100%;
		order: 2;
	}

	.slider__dots {
		flex: 0 1 100%;
		align-items: center;
		text-align: center;
		order: 1;
	}

	.text-item {
		position: absolute;
		width: 100%;
		text-align: left;
		bottom: -7.5rem;
		margin: 0 0 2.3rem 0;
	}
}

@media (max-width: 640px) {
	.text-item {
		font-size: 1rem;
	}

	.slider__items {
		margin: -0.6rem 0rem 3rem 0rem;
	}
}

@media (max-width: 500px) {

	.text-item {
		font-size: 100%;
	}

	.text-item {
		height: 2rem;
		bottom: -8.5rem;
	}
}